<h1>{{categoria.nome}}</h1>
{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagens/{{slug}}"> <button class="btn btn-success">Leia mais</button></a>
        <hr>
        <small>{{categoria.nome}}</small>
        <small>{{data}}</small>
    </div>
</div>
{{else}}
    <h5>Nenhuma postagem cadastrada</h5>
{{/each}}